/*标签样式*/
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%; 
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: "tnum";
}
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  padding-left:10px ;
}
h1,h2,h3,h4,h5{
  margin-top:22px ;
  margin-bottom:22px ;
}
code {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  width: 100%;
  white-space: normal;
  font-size: 13px;
  line-height: 18px;
}
a{
  text-decoration: none;
  color:#333; 
}
a:hover{
  color: #2196f3;
  cursor: pointer;
}
/*去除点击后的边框*/
a:focus {
  outline-style:none; 
}
/*全局样式*/
/*鼠标移动到导航时出现下划线已经字体变蓝*/
.g-navHref:hover{
  color: #2196f3;
  text-decoration: underline #2196f3 dotted;
  cursor: pointer;
  text-underline-position:under;
  
}
/*鼠标移动到导航时背景变为透明灰色+鼠标*/
.g-mouseMoveOnNav:hover{
  background-color: rgba(146, 146, 146, 0.2);
  cursor: pointer;
}
/*鼠标移动到导航时背景变为透明白色+鼠标*/
.g-mouseMoveOnNav-color-white:hover{
  background-color: white;
  cursor: pointer;
}
/*鼠标移动到导航时背景变为透明灰色+鼠标+白色字体*/
.g-mouseMoveOnNav-bgcolorGray:hover{
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color:white;
}
/*flex布局,元素在两端*/
.g_layout_flex_justify-content_space-between{
  display: flex;
  justify-content: space-between;

}
/*flex布局,元素在右端*/
.g_layout_flex_justify-content_end{
  display: flex;
  justify-content: end;
}

/*取消btn的默认样式*/
.g_btn{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0px;  
  outline: none;   
  background-color: white;
  border-radius: 6px;
  margin:8px;
}
.g_btn:hover{
  cursor: pointer;
}
.g_btn:active{
  top:1px;
  left:1px;
  border: 1px solid gray;
}
.g_btn_larger{
  width: 120px;
  height: 40px;
}
.g_btn_success{
  background-color: rgb(49, 152, 236);
  color:white;
}
.g_btn_success:hover{
  background-color: rgb(49, 97, 255);
}

.g_btn_cancle{
  background-color: rgb(49, 236, 158);
  color:white;
}
.g_btn_cancle:hover{
  background-color: rgb(49, 236, 200);
}

.g_input {
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

/*设置文字超过此行宽度的时候变成省略号*/
.g_text_shengluehao {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*设置盒子阴影效果*/
.g_box-shadow_gray{
  box-shadow: 0px 0px 10px 10px rgb(146,146,146);
  border-radius: 5px;
}


/*vue动画效果*/
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}